<!DOCTYPE html>
<title>Home Page | Bakersfield Island</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<body>
    <link rel="stylesheet" href="/css/index.css">
    <nav>
        <div class="logo">
            <p>Bakersfield Island</p>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profiles</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><button id="team-button">Our Team</button></li>
        </ul>
    </nav>
    <div class="fam-pic">
        <h1>Welcome to the Bakersfield Island Offical Website!</h1>
        <p>Keep scrolling to know more about us!</p>
        <li>
            <a href="#"><img src="css/images/fb.png_225"></a>
            <a href="#"><img src="css/images/insta.webp"></a>
        </li>
    </div>
    <div id="scroll-info" class="info-box">
        <h2>About Us</h2>
        <span class="decor-line"></span>
        <p>We are a group of people who started a non-profit organization called the <strong>Bakersfield Family Island Foundation</strong>.</p>
    </div>
    <div class="mission-vision">
        <div class="three-box">
            <div class="mission">
                <h2>Mission</h2>
                <p>Our mission is to help redistribute wealth as we improve oppourtunites for family members in the areas of buisness incubation, the education program, and small buisness loans. Loans will be made using the Gramean Banking System. By August 31, 2022, our goal is to extend our family to 30 million (hopefully more) members.</p>
            </div>
            <div class="vision">
                <h2>Vision</h2>
                <p>We have established an education sinking pool for all of the children in each BFIA (Bakersfield Family Island Association) family households in:</p>
                <ul id="nation-list">
                    <li>America</li>
                    <li>Kenya</li>
                    <li>England</li>
                    <li>France</li>
                    <li>India</li>
                    <li>Ghana</li>
                    <li>Mexico</li>
                    <li>Jamaica</li>
                    <li>and other nations...</li>
                </ul>
                <p>Effective August 1, 2021 we will pay college education for each student in the family. In order to be eliglible the students must be accepted by an accredited college or trade school. The average cost for tuition fees in the United States was $34,740 a year in 2018. This does not include meals, books, school supplies, and other miscellaneous items that we might pay for. Each child that we detect in our system, can apply for this, since only the ones who attend an accredited college or trade school will recieve college payment. You are invited to see our intials actions in the video below.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="commit-box">
        <div class="initial-commit">
            <p>Our Video:</p>
            <iframe id="video-kenya" width="560" height="300" src="https://www.youtube.com/embed/yQjHWaeqGiM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div id="our-team" class="our-team">
        <div class="team-container">
            <div class="person-slider" id="person-slider">
                <div class="indiv-per">
                    <img src="css/images/nature5.jpg">
                    <h2>Matthew Cruise</h2>
                    <p>Founder/President of the foundation.</p>
                </div>
                <div class="indiv-per">
                    <img src="css/images/naturer2.jpg">
                    <h2>Diana Rules</h2>
                    <p>Secretary of the foundation.<p>
                </div>
                <div class="indiv-per">
                    <img src="css/images/naturere1.jpg">
                    <h2>David D</h2>
                    <p>Developer of the website, and technical support.</p>
                </div>
            </div>
            <button id="left-btn">Prev</button>
            <button id="right-btn">Next</button>
        </div>
    </div>
    <div class="current-don">
        <h1>Support Us</h1>
        <h2>About <%= people %> have supported our cause and donated over <%= money %> dollars! We hope to increase these numbers and increase the hope for each family!</h2>
        <div class="current-btn">
            <a href="/profile">See Profiles</a>
            <a href="/dashboard">Donate</a>
        </div>
    </div>
    <div class="footer">
        <div class="ad">
            <h3>Coming Soon!</h3>
            <span>Fem Choice, the new female website coming soon</span>
            <a href="http://www.fem-choice.com/login">Check it out</a>
        </div>
        <div class="contact-info">
            <h3>Contact Info</h3>
            <span>Location: 1201 24th Street, Suite B-200, Bakersfield, CA 93301</span>
            <span>Office Number: (661) 459-0099</span>
            <span>Office Fax: (661) 249-6375</span>
            <span>Jeniffer's E-Mail Address: bfia.jtsosie@outlook.com</span>
            <span>Bakersfield Family Island Association E-mail: bakersfieldfamilyisland@outlook.com</span>
        </div>
    </div>
    <script type="text/javascript" src="/js/main_ani.js"></script>
</body>